.parrafo{
    margin-left : 30px;
    margin-right : 30px;
    font-size: 30px;
    
}
.primer_parrafo{
    font-weight: bold;
}
.aceptas{
    margin-top: 40px;
}
.juntos{
    height:500px;
    width: auto;
}